Напишите функцию delete_columns(df, col=[]), которая удаляет столбцы из DataFrame и возвращает новую таблицу. Если одного из указанных столбцов не существует в таблице, то функция должна возвращать None.

In [169]:
import pandas as pd

customer_df = pd.DataFrame({
            'number': [0, 1, 2, 3, 4],
            'cust_id': [128, 1201, 9832, 4392, 7472],
            'cust_age': [13, 21, 19, 21, 60],
            'cust_sale': [0, 0, 0.2, 0.15, 0.3],
            'cust_year_birth': [2008, 2000, 2002, 2000, 1961],
            'cust_order': [1400, 14142, 900, 1240, 8430]
        })

def delete_columns(df, col=[]):
    for i in col:
        if i not in df.columns:
            return None
    return df.drop(col, axis=1)
display(delete_columns(customer_df, ['number', 'cust_age']))

   cust_id  cust_sale  cust_year_birth  cust_order
0      128       0.00             2008        1400
1     1201       0.00             2000       14142
2     9832       0.20             2002         900
3     4392       0.15             2000        1240
4     7472       0.30             1961        8430

Версия без цикла:

In [170]:
import pandas as pd

customer_df = pd.DataFrame({
            'number': [0, 1, 2, 3, 4],
            'cust_id': [128, 1201, 9832, 4392, 7472],
            'cust_age': [13, 21, 19, 21, 60],
            'cust_sale': [0, 0, 0.2, 0.15, 0.3],
            'cust_year_birth': [2008, 2000, 2002, 2000, 1961],
            'cust_order': [1400, 14142, 900, 1240, 8430]
        })

def delete_columns(df, col=[]):
    if not set(col).issubset(df.columns):# Создаём из списка множество и проверяем методом issubset вхождение
        return None
    return df.drop(col, axis=1)

display(delete_columns(customer_df, ['number', 'cust_age']))

   cust_id  cust_sale  cust_year_birth  cust_order
0      128       0.00             2008        1400
1     1201       0.00             2000       14142
2     9832       0.20             2002         900
3     4392       0.15             2000        1240
4     7472       0.30             1961        8430

Задан DataFrame countries_df, содержащий следующие столбцы: название страны, население (population) в миллионах человек и площадь страны (area) в квадратных километрах.

In [171]:
countries_df = pd.DataFrame({
    'country': ['Англия', 'Канада', 'США', 'Россия', 'Украина', 'Беларусь', 'Казахстан'],
    'population': [56.29, 38.05, 322.28, 146.24, 45.5, 9.5, 17.04],
    'area': [133396, 9984670, 9826630, 17125191, 603628, 207600, 2724902]
})

Для каждой страны рассчитайте плотность населения (количество человек на квадратный километр).

Затем по полученным данным рассчитайте среднее по плотностям населения в указанных странах. Ответ округлите до сотых.

In [172]:
#Создадим новый столбец, в котором будет храниться плотность населения
countries_df["population/area"] = (countries_df['population']*1000000) / countries_df['area']
display(countries_df)
print(countries_df["population/area"].mean())

     country  population      area  population/area
0     Англия       56.29    133396       421.976671
1     Канада       38.05   9984670         3.810842
2        США      322.28   9826630        32.796595
3     Россия      146.24  17125191         8.539467
4    Украина       45.50    603628        75.377550
5   Беларусь        9.50    207600        45.761079
6  Казахстан       17.04   2724902         6.253436

84.93080566562001

В каком году отмечается наибольшее количество случаев наблюдения НЛО в США?

In [173]:
import pandas as pd
ufo_df = pd.read_csv('https://raw.githubusercontent.com/justmarkham/pandas-videos/master/data/ufo.csv', sep=',')
ufo_data = ufo_df.copy()
display(ufo_data.head())

                   City Colors Reported Shape Reported State             Time
0                Ithaca             NaN       TRIANGLE    NY   6/1/1930 22:00
1           Willingboro             NaN          OTHER    NJ  6/30/1930 20:00
2               Holyoke             NaN           OVAL    CO  2/15/1931 14:00
3               Abilene             NaN           DISK    KS   6/1/1931 13:00
4  New York Worlds Fair             NaN          LIGHT    NY  4/18/1933 19:00

In [174]:
ufo_data['Time'] = pd.to_datetime(ufo_data['Time'])
ufo_data['Year'] = ufo_data['Time'].dt.year
year = ufo_data['Year'].value_counts().idxmax()
print(year)

1999

Найдите средний интервал времени (в днях) между двумя последовательными случаями наблюдения НЛО в штате Невада (NV).

In [175]:
ufo_data_nv = ufo_data[ufo_data["State"] == "NV"]
ufo_data_nv["Time"] = pd.to_datetime(ufo_data_nv["Time"])
ufo_data_nv["Time_diff"] = ufo_data_nv["Time"].diff().dt.days
interval = ufo_data_nv["Time_diff"].mean()
print(interval)

68.44876325088339

C:\Users\Pupc\AppData\Local\Temp\ipykernel_11940\2665637592.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ufo_data_nv["Time"] = pd.to_datetime(ufo_data_nv["Time"])
C:\Users\Pupc\AppData\Local\Temp\ipykernel_11940\2665637592.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ufo_data_nv["Time_diff"] = ufo_data_nv["Time"].diff().dt.days

Напишите функцию get_experience(arg), аргументом которой является строка столбца с опытом работы. Функция должна возвращать опыт работы в месяцах. Не забудьте привести результат к целому числу.

In [176]:
import pandas as pd

def get_experience(arg):
    # Инициализация переменных для хранения количества лет и месяцев
    years = 0
    months = 0
    
    # Разделение строки на слова
    words = pd.Series(arg.split())
    
    # Проход по каждому слову в строке
    for i in range(len(words)):
        if words[i].isdigit():
            number = int(words[i])
            if i + 1 < len(words):
                unit = words[i + 1]
                if unit in ['год', 'года', 'лет']:
                    years += number
                elif unit in ['месяц', 'месяца', 'месяцев']:
                    months += number
    
    # Преобразование лет в месяцы и добавление к общему количеству месяцев
    total_months = years * 12 + months
    
    # Возвращаем общее количество месяцев
    return total_months

print(get_experience("3 года 4 месяца"))

40

Вашим заданием в этом модуле будет проанализировать и преобразовать данные о велопоездках клиентов компании Citi Bike (США), специализирующейся на прокате велосипедов.

Сколько пропусков в столбце start station id?

In [177]:
import pandas as pd

bike_df = pd.read_csv('data/citibike-tripdata.csv', sep=',')
bike_df.head()

,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,2018-09-01 00:00:05.2690,2018-09-01 00:27:20.6340,252.0,MacDougal St & Washington Sq,40.732264,-73.998522,366.0,Clinton Ave & Myrtle Ave,40.693261,-73.968896,25577,Subscriber,1980,1
1,2018-09-01 00:00:11.2810,2018-09-01 00:02:23.4810,314.0,Cadman Plaza West & Montague St,40.693830,-73.990539,3242.0,Schermerhorn St & Court St,40.691029,-73.991834,34377,Subscriber,1969,0
2,2018-09-01 00:00:20.6490,2018-09-01 00:55:58.5470,3142.0,1 Ave & E 62 St,40.761227,-73.960940,3384.0,Smith St & 3 St,40.678724,-73.995991,30496,Subscriber,1975,1
3,2018-09-01 00:00:21.7460,2018-09-01 00:07:38.5830,308.0,St James Pl & Oliver St,40.713079,-73.998512,3690.0,Park Pl & Church St,40.713342,-74.009355,28866,Subscriber,1984,2
4,2018-09-01 00:00:27.3150,2018-09-01 02:21:25.3080,345.0,W 13 St & 6 Ave,40.736494,-73.997044,380.0,W 4 St & 7 Ave S,40.734011,-74.002939,20943,Customer,1994,1

In [178]:
bike_df["start station id"].isnull().sum()

np.int64(169)

Какой тип данных имеют столбцы starttime и stoptime?

In [179]:
print(bike_df[["starttime", "stoptime"]].dtypes)

starttime    object
stoptime     object
dtype: object

Найдите идентификатор самой популярной стартовой стоянки. Запишите идентификатор в виде целого числа.

In [180]:
bike_df["start station id"].value_counts().idxmax()

np.float64(281.0)

Велосипед с каким идентификатором является самым популярным?

In [181]:
bike_df["bikeid"].value_counts().idxmax()

np.int64(33887)

Какой тип клиентов (столбец usertype) является преобладающим — Subscriber или Customer? В качестве ответа запишите долю клиентов преобладающего типа среди общего количества клиентов. Ответ округлите до сотых.

In [182]:
all_rider = bike_df["usertype"].value_counts().sum()
print((bike_df["usertype"].value_counts().max())/all_rider)

0.7740066666666666

Кто больше занимается велоспортом — мужчины или женщины? В ответ запишите число поездок для той группы, у которой их больше.

In [183]:
bike_df["gender"].value_counts().max()

np.int64(183582)

В первую очередь удалим лишнюю информацию из данных.
В наших данных присутствуют столбцы, которые дублируют информацию друг о друге: это столбцы с идентификатором и названием стартовой и конечной стоянки. Удалите признаки идентификаторов стоянок. Сколько столбцов осталось?

In [184]:
bike_df_del = bike_df.copy()
bike_df_del = bike_df_del.drop(columns=["start station name","end station name"])
display(bike_df_del.head())

,starttime,stoptime,start station id,start station latitude,start station longitude,end station id,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,2018-09-01 00:00:05.2690,2018-09-01 00:27:20.6340,252.0,40.732264,-73.998522,366.0,40.693261,-73.968896,25577,Subscriber,1980,1
1,2018-09-01 00:00:11.2810,2018-09-01 00:02:23.4810,314.0,40.693830,-73.990539,3242.0,40.691029,-73.991834,34377,Subscriber,1969,0
2,2018-09-01 00:00:20.6490,2018-09-01 00:55:58.5470,3142.0,40.761227,-73.960940,3384.0,40.678724,-73.995991,30496,Subscriber,1975,1
3,2018-09-01 00:00:21.7460,2018-09-01 00:07:38.5830,308.0,40.713079,-73.998512,3690.0,40.713342,-74.009355,28866,Subscriber,1984,2
4,2018-09-01 00:00:27.3150,2018-09-01 02:21:25.3080,345.0,40.736494,-73.997044,380.0,40.734011,-74.002939,20943,Customer,1994,1

Замените признак birth year на более понятный признак возраста клиента age. Годом отсчёта возраста выберите 2018 год. Столбец birth year удалите из таблицы. Сколько поездок совершено клиентами старше 60 лет?

In [185]:
bike_df_del["age"] = 2018 - bike_df_del["birth year"]
bike_df_age = bike_df_del.drop(columns=["birth year"])
print((bike_df_age["age"] > 60).sum())

11837

Создайте признак длительности поездки trip duration. Для этого вычислите интервал времени между временем окончания поездки (stoptime) и её началом (starttime). Сколько целых минут длилась поездка под индексом 3 в таблице?

In [186]:
bike_df_age["stoptime"] = pd.to_datetime(bike_df_age["stoptime"])
bike_df_age["starttime"] = pd.to_datetime(bike_df_age["starttime"])
bike_df_age["trip duration"] = (bike_df_age["stoptime"] - bike_df_age["starttime"]).dt.total_seconds() / 60
display(bike_df_age.head())
print(bike_df_age.loc[3, "trip duration"])

,starttime,stoptime,start station id,start station latitude,start station longitude,end station id,end station latitude,end station longitude,bikeid,usertype,gender,age,trip duration
0,2018-09-01 00:00:05.269,2018-09-01 00:27:20.634,252.0,40.732264,-73.998522,366.0,40.693261,-73.968896,25577,Subscriber,1,38,27.256083
1,2018-09-01 00:00:11.281,2018-09-01 00:02:23.481,314.0,40.693830,-73.990539,3242.0,40.691029,-73.991834,34377,Subscriber,0,49,2.203333
2,2018-09-01 00:00:20.649,2018-09-01 00:55:58.547,3142.0,40.761227,-73.960940,3384.0,40.678724,-73.995991,30496,Subscriber,1,43,55.631633
3,2018-09-01 00:00:21.746,2018-09-01 00:07:38.583,308.0,40.713079,-73.998512,3690.0,40.713342,-74.009355,28866,Subscriber,2,34,7.280617
4,2018-09-01 00:00:27.315,2018-09-01 02:21:25.308,345.0,40.736494,-73.997044,380.0,40.734011,-74.002939,20943,Customer,1,24,140.966550

7.280616666666666

Создайте «признак-мигалку» weekend, который равен 1, если поездка начиналась в выходной день (суббота или воскресенье), и 0 — в противном случае. Выясните, сколько поездок начиналось в выходные.

In [187]:
bike_df_age["day of week"] = bike_df_age["starttime"].dt.day_name()
bike_df_age["weekend"] = bike_df_age["day of week"].apply(lambda x: 1 if x in ["Saturday", "Sunday"] else 0)
display(bike_df_age.head())
print(bike_df_age["weekend"].value_counts())

,starttime,stoptime,start station id,start station latitude,start station longitude,end station id,end station latitude,end station longitude,bikeid,usertype,gender,age,trip duration,day of week,weekend
0,2018-09-01 00:00:05.269,2018-09-01 00:27:20.634,252.0,40.732264,-73.998522,366.0,40.693261,-73.968896,25577,Subscriber,1,38,27.256083,Saturday,1
1,2018-09-01 00:00:11.281,2018-09-01 00:02:23.481,314.0,40.693830,-73.990539,3242.0,40.691029,-73.991834,34377,Subscriber,0,49,2.203333,Saturday,1
2,2018-09-01 00:00:20.649,2018-09-01 00:55:58.547,3142.0,40.761227,-73.960940,3384.0,40.678724,-73.995991,30496,Subscriber,1,43,55.631633,Saturday,1
3,2018-09-01 00:00:21.746,2018-09-01 00:07:38.583,308.0,40.713079,-73.998512,3690.0,40.713342,-74.009355,28866,Subscriber,2,34,7.280617,Saturday,1
4,2018-09-01 00:00:27.315,2018-09-01 02:21:25.308,345.0,40.736494,-73.997044,380.0,40.734011,-74.002939,20943,Customer,1,24,140.966550,Saturday,1

weekend
0    184865
1    115135
Name: count, dtype: int64

Вторая версия:

In [188]:
bike_df_age["day of week"] = bike_df_age["starttime"].dt.day_name()
bike_df_age["weekend"] = bike_df_age["day of week"].isin(["Saturday", "Sunday"]).astype(int)
display(bike_df_age.head())
print(bike_df_age["weekend"].value_counts())

,starttime,stoptime,start station id,start station latitude,start station longitude,end station id,end station latitude,end station longitude,bikeid,usertype,gender,age,trip duration,day of week,weekend
0,2018-09-01 00:00:05.269,2018-09-01 00:27:20.634,252.0,40.732264,-73.998522,366.0,40.693261,-73.968896,25577,Subscriber,1,38,27.256083,Saturday,1
1,2018-09-01 00:00:11.281,2018-09-01 00:02:23.481,314.0,40.693830,-73.990539,3242.0,40.691029,-73.991834,34377,Subscriber,0,49,2.203333,Saturday,1
2,2018-09-01 00:00:20.649,2018-09-01 00:55:58.547,3142.0,40.761227,-73.960940,3384.0,40.678724,-73.995991,30496,Subscriber,1,43,55.631633,Saturday,1
3,2018-09-01 00:00:21.746,2018-09-01 00:07:38.583,308.0,40.713079,-73.998512,3690.0,40.713342,-74.009355,28866,Subscriber,2,34,7.280617,Saturday,1
4,2018-09-01 00:00:27.315,2018-09-01 02:21:25.308,345.0,40.736494,-73.997044,380.0,40.734011,-74.002939,20943,Customer,1,24,140.966550,Saturday,1

weekend
0    184865
1    115135
Name: count, dtype: int64

Создайте признак времени суток поездки time_of_day. Время суток будем определять из часа начала поездки. Условимся, что:

поездка совершается ночью (night), если её час приходится на интервал от 0 (включительно) до 6 (включительно) часов;

поездка совершается утром (morning), если её час приходится на интервал от 6 (не включительно) до 12 (включительно) часов;

поездка совершается днём (day), если её час приходится на интервал от 12 (не включительно) до 18 (включительно) часов;

поездка совершается вечером (evening), если её час приходится на интервал от 18 (не включительно) до 23 часов (включительно).

In [189]:
time_hour = bike_df_age["starttime"].dt.hour

bike_df_age["time_of_day"] = time_hour.apply(
    lambda x: "night" if x in range(0, 7) else
              "morning" if x in range(7, 13) else
              "day" if x in range(13, 19) else
              "evening"
)
all_time_value = bike_df_age["time_of_day"].value_counts()

day_ride = all_time_value.get("day")
night_ride = all_time_value.get("night")

print(day_ride / night_ride)
#display(bike_df_age.head())
display(bike_df_age["time_of_day"].value_counts())

9.480411004308916

time_of_day
day        143012
morning     95530
evening     46373
night       15085
Name: count, dtype: int64