Напишите функцию create_medications(names, counts), которая создает Series medications, индексами которой являются названия лекарств names, а значениями - их количество в поставке counts.

А также напишите функцию get_percent(medications, name), которая возвращает долю количества товара с именем name от общего количества товаров в поставке в процентах.

In [1]:
import pandas as pd

names=['chlorhexidine', 'cyntomycin', 'afobazol']
counts=[15, 18, 7]

def create_medications(names, counts):
    meds = pd.Series(
    data = counts,
    index = names,
    name = 'Series medications'
)
    return meds
    
display(create_medications(names, counts))

medications = create_medications(names, counts)

def get_percent(medications, name):
    sum_meds = 0
    for med,value in medications.items():
        sum_meds += value
        if med == name:
            value_med = medications[name]
    result = (value_med/sum_meds)*100
    return result
get_percent(medications,"chlorhexidine")

chlorhexidine    15
cyntomycin       18
afobazol          7
Name: Series medications, dtype: int64

np.float64(37.5)

Вторая версия задания без циклов

In [3]:
import pandas as pd

names=['chlorhexidine', 'cyntomycin', 'afobazol']
counts=[15, 18, 7]
def create_medications(names, counts):
    meds = pd.Series(
    data = counts,
    index = names,
    name = 'medications'
)
    return meds
display(create_medications(names, counts))

def get_percent(medications,name):
    sum_meds = medications.sum()
    return (medications[name]/sum_meds)*100
display(get_percent(medications,"chlorhexidine"))

chlorhexidine    15
cyntomycin       18
afobazol          7
Name: medications, dtype: int64

np.float64(37.5)

Вы работаете аналитиком в компании ScienceYou. Ваша задача — проанализировать чистую прибыль.

Доходы (income), расходы (expenses) и годы (years), соответствующие им, предоставлены вам в виде списков.

In [11]:
income = [478, 512, 196]
expenses = [156, 130, 270]
years = [2018, 2019, 2020]

Создайте функцию create_companyDF(income, expenses, years), которая возвращает DataFrame, составленный из входных данных со столбцами Income и Expenses и индексами, соответствующими годам рассматриваемого периода.

In [12]:
import pandas as pd

def create_companyDF(income, expenses, years):
    df = pd.DataFrame(
    data = {
        "Income":income,
        "Expenses":expenses
    },
    index = years
)
    return df

display(create_companyDF(income, expenses, years))

      Income  Expenses
2018     478       156
2019     512       130
2020     196       270

Также напишите функцию get_profit(df, year), которая возвращает разницу между доходом и расходом, записанными в таблице df, за год year.

In [20]:
df = create_companyDF(income, expenses, years)
def get_profit(df, year):
    if year in df.index:
        result = df.loc[year,"Income"]-df.loc[year,"Expenses"]
        return result
    else:
        return None
print(get_profit(df, 2019))

382

Вам необходимо прочитать эти данные в DataFrame с именем student_data и ответить на следующие вопросы

In [1]:
import pandas as pd
student_data = pd.read_csv('data/students_performance.csv', sep=',')

In [2]:
student_data.head()

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75

Данные о скольких студентах содержатся в таблице?

In [3]:
student_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 8 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   gender                       1000 non-null   object
 1   race/ethnicity               1000 non-null   object
 2   parental level of education  1000 non-null   object
 3   lunch                        1000 non-null   object
 4   test preparation course      1000 non-null   object
 5   math score                   1000 non-null   int64
 6   reading score                1000 non-null   int64
 7   writing score                1000 non-null   int64
dtypes: int64(3), object(5)
memory usage: 62.6+ KB

Каков балл по письму у студента под индексом 155?

In [4]:
student_data.loc[155,"writing score"]

np.int64(88)

Каков у студентов средний балл по математике?

In [5]:
student_data["math score"].mean()

np.float64(66.089)

Какая расовая группа является самой крупной в учебном заведении?

In [6]:
student_data['race/ethnicity'].value_counts(normalize=True)

race/ethnicity
group C    0.319
group D    0.262
group B    0.190
group E    0.140
group A    0.089
Name: proportion, dtype: float64

Каков средний балл по чтению у студентов, которые посещали курсы подготовки к экзаменам?

In [8]:
student_course = student_data["test preparation course"] == "completed"
sorted_stud = student_data[student_course]
display(sorted_stud["reading score"].mean())

np.float64(73.89385474860335)

Сколько студентов получили 0 баллов по математике?

In [9]:
student_math_zero = student_data["math score"] == 0
display(student_data[student_math_zero].shape[0])

1

Проверьте гипотезу: у студентов с оплачиваемым питанием средний балл по математике выше, чем у студентов с льготным питанием.

In [10]:
not_buy_lunch = student_data[student_data["lunch"] == "free/reduced"]
buy_lunch = student_data[student_data["lunch"] == "standard"]
print(not_buy_lunch["math score"].mean())
print(buy_lunch["math score"].mean())

58.92112676056338
70.03410852713178

Каков процент студентов, родители которых имеют высшее образование уровня бакалавриата

In [12]:
student_data["parental level of education"].value_counts(normalize=True)

parental level of education
some college          0.226
associate's degree    0.222
high school           0.196
some high school      0.179
bachelor's degree     0.118
master's degree       0.059
Name: proportion, dtype: float64

Насколько медианный балл по письму у студентов в расовой группе А отличается от среднего балла по письму у студентов в расовой группе C?

In [20]:
group_a = student_data[student_data["race/ethnicity"] == "group A"]
group_c = student_data[student_data["race/ethnicity"] == "group C"]
print(group_c["writing score"].median() - group_a["writing score"].median())

6.0