В ваше распоряжение предоставлена директория users ('./Root/users'). В данной директории содержатся csv-файлы, в каждом из которых хранится информация об идентификаторах пользователей (user_id) и ссылки на их фотографии (image_url). Файлов в директории может быть сколько угодно.

Вам необходимо написать функцию concat_user_files(path), параметром которой является path — путь до директории. Функция должна объединить информацию из предоставленных вам файлов в один DataFrame и вернуть его.

Список названий всех файлов, находящихся в директории, вы можете получить с помощью функции os.listdir(path) из модуля os. Отсортируйте полученный список, прежде чем производить объединение файлов.

Обратите внимание, что метод os.listdir() возвращает только названия файлов в указанной директории, а при чтении файла необходимо указывать полный путь до него.

Не забудьте обновить индексы результирующей таблицы после объединения.

In [1]:
import os
import pandas as pd

def concat_user_files(path):
    # Получение списка файлов в директории и сортировка
    files = sorted(os.listdir(path))
    
    # Инициализация пустого списка для хранения DataFrame
    dataframes = []
    
    # Чтение каждого файла и добавление его в список
    for file in files:
        file_path = os.path.join(path, file)
        df = pd.read_csv(file_path)
        dataframes.append(df)
    
    # Объединение всех DataFrame в один
    result_df = pd.concat(dataframes, ignore_index=True)
    # Удаление дубликатов
    result_df = result_df.drop_duplicates()
    
    return result_df

Даны две таблицы: items_df, в которой содержится информация о наличии товаров на складе, и purchase_df с данными о покупках товаров.

Первая:

items_df = pd.DataFrame({
    'item_id': [417283, 849734, 132223, 573943, 19475, 3294095, 382043, 302948, 100132, 312394],
    'vendor': ['Samsung', 'LG', 'Apple', 'Apple', 'LG', 'Apple', 'Samsung', 'Samsung', 'LG', 'ZTE'],
    'stock_count': [54, 33, 122, 18, 102, 43, 77, 143, 60, 19]
})
Вторая:

purchase_df = pd.DataFrame({
    'purchase_id': [101, 101, 101, 112, 121, 145, 145, 145, 145, 221],
    'item_id': [417283, 849734, 132223, 573943, 19475, 3294095, 382043, 302948, 103845, 100132],
    'price': [13900, 5330, 38200, 49990, 9890, 33000, 67500, 34500, 89900, 11400]
})
Информация в таблицах представлена в виде следующих столбцов:

item_id — идентификатор модели;
vendor — производитель модели;
stock_count — имеющееся на складе количество данных моделей (в штуках);
purchase_id — идентификатор покупки;
price — стоимость модели в покупке.
Вам необходимо сделать следующее:

Сформируйте DataFrame merged, так чтобы после объединения purchase_df и items_df остались модели, которые учтены на складе и имели продажи.

На основе таблицы merged найдите суммарную выручку, которую можно было бы получить от продажи всех товаров, имеющихся на складе. Результат занесите в переменную income.

In [2]:
import pandas as pd

items_df_sf = pd.DataFrame({
            'item_id': [417283, 849734, 132223, 573943, 19475, 3294095, 382043, 302948, 100132, 312394],
            'vendor': ['Samsung', 'LG', 'Apple', 'Apple', 'LG', 'Apple', 'Samsung', 'Samsung', 'LG', 'ZTE'],
            'stock_count': [54, 33, 122, 18, 102, 43, 77, 143, 60, 19]
})

purchase_df_sf = pd.DataFrame({
            'purchase_id': [101, 101, 101, 112, 121, 145, 145, 145, 145, 221],
            'item_id': [417283, 849734, 132223, 573943, 19475, 3294095, 382043, 302948, 103845, 100132],
            'price': [13900, 5330, 38200, 49990, 9890, 33000, 67500, 34500, 89900, 11400]
})

merged = pd.merge(purchase_df_sf, items_df_sf, on='item_id')
merged = merged[['item_id', 'vendor', 'stock_count', 'purchase_id', 'price']]
display(merged)
total_price = merged['price'] * merged['stock_count']
income = total_price.sum()
print(income)

   item_id   vendor  stock_count  purchase_id  price
0   417283  Samsung           54          101  13900
1   849734       LG           33          101   5330
2   132223    Apple          122          101  38200
3   573943    Apple           18          112  49990
4    19475       LG          102          121   9890
5  3294095    Apple           43          145  33000
6   382043  Samsung           77          145  67500
7   302948  Samsung          143          145  34500
8   100132       LG           60          221  11400

19729490

Для решения задач нам понадобится выделить из признака title год выпуска фильма. Для этого напишем функцию get_year_release(arg).

In [3]:
import pandas as pd
ratings_movies = pd.read_csv('data/ratings_movies.csv')
display(ratings_movies)

,Unnamed: 0,userId,movieId,rating,date,title,genres
0,0,1,1,4.0,2000-07-30 18:45:03,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,1,1,3,4.0,2000-07-30 18:20:47,Grumpier Old Men (1995),Comedy|Romance
2,2,1,6,4.0,2000-07-30 18:37:04,Heat (1995),Action|Crime|Thriller
3,3,1,47,5.0,2000-07-30 19:03:35,Seven (a.k.a. Se7en) (1995),Mystery|Thriller
4,4,1,50,5.0,2000-07-30 18:48:51,"Usual Suspects, The (1995)",Crime|Mystery|Thriller
...,...,...,...,...,...,...,...
100831,100831,610,166534,4.0,2017-05-03 21:53:22,Split (2017),Drama|Horror|Thriller
100832,100832,610,168248,5.0,2017-05-03 22:21:31,John Wick: Chapter Two (2017),Action|Crime|Thriller
100833,100833,610,168250,5.0,2017-05-08 19:50:47,Get Out (2017),Horror
100834,100834,610,168252,5.0,2017-05-03 21:19:12,Logan (2017),Action|Sci-Fi
100835,100835,610,170875,3.0,2017-05-03 21:20:15,The Fate of the Furious (2017),Action|Crime|Drama|Thriller

In [4]:
#библиотека для регулярных выражений
import re 
def get_year_release(arg):
    #находим все слова по шаблону "(DDDD)"
    candidates = re.findall(r'\(\d{4}\)', arg) 
    # проверяем число вхождений
    if len(candidates) > 0:
        #если число вхождений больше 0,
	#очищаем строку от знаков "(" и ")"
        year = candidates[0].replace('(', '')
        year = year.replace(')', '')
        return int(year)
    else:
        #если год не указан, возвращаем None
        return None

Из модуля re нам понадобится только функция findall(), которая позволяет найти в строке все слова, удовлетворяющие шаблону. Мы находим в строке с названием фильма шаблон "(DDDD)" — четыре цифры, обёрнутых в скобки, что соответствует году выпуска фильма. Если такого шаблона не было найдено (год выпуска не указан), функция возвращает None (в таблице это будет помечено как пропуск).

Создайте в таблице новый признак year_release, который соответствует году выпуска фильма.
У скольких фильмов не указан год их выпуска?

In [5]:
ratings_movies["year_release"] = ratings_movies["title"].apply(get_year_release)
miss_year = ratings_movies["year_release"].isna().sum()
#display(ratings_movies)
print(miss_year)

18

Какой фильм, выпущенный в 1999 году, получил наименьшую среднюю оценку зрителей?
В качестве ответа запишите название этого фильма без указания года его выпуска.

In [6]:
movies_in_1999 = ratings_movies[ratings_movies["year_release"] == 1999]
bad_movie = movies_in_1999.groupby('title')['rating'].mean().idxmin()
print(bad_movie)

Bloodsport: The Dark Kumite (1999)

Какое сочетание жанров фильмов (genres), выпущенных в 2010 году, получило наименьшую среднюю оценку (rating)?
Запишите сочетание так же, как оно указано в таблице (через разделитель |, без пробелов).

In [7]:
bad_genres_2010 = ratings_movies[ratings_movies["year_release"] == 2010]
bad_genres = bad_genres_2010.groupby('genres')['rating'].mean().idxmin()
print(bad_genres)
#display(bad_genres_2010)

Action|Sci-Fi

Какой пользователь (userId) посмотрел наибольшее количество различных (уникальных) комбинаций жанров (genres) фильмов? В качестве ответа запишите идентификатор этого пользователя.

In [8]:
user_top = ratings_movies.groupby('userId')['genres'].nunique().idxmax()
print(user_top)

599

Найдите пользователя, который выставил наименьшее количество оценок, но его средняя оценка фильмам наибольшая.
В качестве ответа укажите идентификатор этого пользователя.
Чтобы рассчитать несколько параметров для каждого пользователя (количество оценок и среднюю оценку), можно воспользоваться методом agg() на сгруппированных данных.

In [9]:

user_stats = ratings_movies.groupby('userId')['rating'].agg(['count', 'mean']).reset_index()

min_ratings = user_stats['count'].min()
users_min_rat = user_stats[user_stats['count'] == min_ratings]

best_user = users_min_rat.loc[users_min_rat['mean'].idxmax()]
print(best_user)

userId    53.0
count     20.0
mean       5.0
Name: 52, dtype: float64

Найдите сочетание жанров (genres) за 2018 год, которое имеет наибольший средний рейтинг (среднее по столбцу rating), и при этом число выставленных ему оценок (количество значений в столбце rating) больше 10.
Запишите сочетание так же, как оно указано в таблице (через разделитель |, без пробелов).

In [10]:
# Фильтрация данных за 2018 год и группировка по жанрам
generes_stats_2018 = (
    ratings_movies[ratings_movies["year_release"] == 2018]
    .groupby('genres')['rating']
    .agg(['mean', 'count'])
    .reset_index()
)

# Фильтрация жанров с количеством оценок больше 10
filtered_genres_2018 = generes_stats_2018[generes_stats_2018['count'] > 10]

# Нахождение жанра с наивысшей средней оценкой
top_genre_2018 = filtered_genres_2018.loc[filtered_genres_2018['mean'].idxmax(), 'genres']

# Вывод результата
print(top_genre_2018)

Action|Adventure|Sci-Fi

Дано два файла:

orders.csv, содержащий данные о заказах;

products.csv, содержащий данные о товарах.

In [11]:
import pandas as pd
orders = pd.read_csv('data/orders.csv')

products = pd.read_csv('data/products.csv')

ParserError: Error tokenizing data. C error: Expected 1 fields in line 7, saw 2